<h1>Os meus escolhidos</h1>

<div class="cards">
  <% @gyms.each do |gym| %>
    <div class="card">
      <h2><%= gym.name %></h2>
      <p>Endereço: <%= gym.address %></p>
      <p>Idas por mês: <%= gym.amount_of_times %></p>
      <%= link_to edit_gym_path(gym) do %><i class="fa-solid fa-pen"></i><% end %>
      <%= link_to gym_path(gym), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash-can"></i><% end %>
    </div>
  <% end %>
</div>

<%= link_to '+ Adicionar', new_gym_path %>
