<h1>Os meus escolhidos</h1>

<%= link_to '+ Adicionar', new_gym_path, class:"btn btn-success" %>

<div class="gym-cards">
  <% @gyms.each do |gym| %>
    <div class="gym-card">
      <div class="gym-card-info">
        <h2><%= gym.name %></h2>
        <p>Idas por mês: <%= gym.amount_of_times %></p>
      </div>
      <div class="gym-card-links">
        <%= link_to edit_gym_path(gym) do %><i class="fa-solid fa-pen"></i><% end %>
        <%= link_to gym_path(gym), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash-can"></i><% end %>
      </div>
    </div>
  <% end %>
</div>
